body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background:white;
    color:blue;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.content {
    display: flex;
    margin: 20px 0;
}

.image {
    flex: 1;
    padding: 100px;
}

.image img {
    max-width: 100%;
    border-radius: 10px;
}

.text {
    flex: 2;
    padding: 20px;
    background:white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text h2 {
    font-size: 1.8em;
    color: blue;
}

.text p {
    font-size: 1.2em;
    line-height: 1.6;
    color:black ;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

